extends base.pug

block content
  h1 Your Account

  - if (!user.poloniexAPIKey || !user.poloniexAPISecret)
    .alert.alert-info
      p You need to set your Poloniex API key and secret in order to user polytrader
  form(method='post', action='/account')

    .form-group
      label.sr-only(for='email') Email
      input#email.form-control(type='email', name='email', placeholder='Email', required='', value=user.email)

    .form-group
      label.sr-only(for='apiKey') Poloniex API Key
      input#apiKey.form-control(type='text', name='apiKey', placeholder='Poloniex API Key', required='', value=user.poloniexAPIKey)

    .form-group
      label.sr-only(for='apiSecret') Poloniex API Secret
      input#apiSecret.form-control(type='text', name='apiSecret', placeholder='Poloniex API Secret', required='', value=user.poloniexAPISecret)

    .form-group
      button.btn.btn-block.btn-default.btn-big(type='submit', value='submit') Update

