doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='meeting room, meeting room template, conference venue, venue, meeting html template')
    meta(name='description', content='Book small meeting space in minutes and get a quote a free. For larger conferences let venues book online.')
    title Pollytrader | Cryptocurrency trading analytics
    // Bootstrap
    link(href='/static/css/bootstrap.min.css', rel='stylesheet')
    // style sheet
    link(href='/static/css/style.css', rel='stylesheet')
    // datepick
    link(href='/static/css/jquery.datepick.css', rel='stylesheet')
    // flaticon
    link(href='/static/css/flaticon.css', rel='stylesheet')
    // flaticon
    link(href='/static/css/owl.carousel.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic,100italic,100', rel='stylesheet', type='text/css')
    // Font awesome icon
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    // App css
    link(href='/static/css/app.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Chart js
    script(src='/static/js/Chart.bundle.min.js')

  body
    .body
      .navigation
        // navigation
        nav.navbar.navbar-default.navbar-fixed-top(style="background-color: #242b33")
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navigation', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.page-scroll(href='/')
                img(src='/static/images/logo.png', alt='')
            // Collect the nav links, forms, and other content for toggling
            #main-navigation.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a.page-scroll(href='/') Home
                li
                  a(href='/portfolio') Porfolio
                li
                  a.page-scroll(href='#whyus') History
                li
                  a.page-scroll(href='#aboutus') Tips
                li
                  a(href='/account') Account
            // /.navbar-collapse
          // /.container-fluid
      #div(style="padding-top: 120px;")
        #div.container
          block content
      #contactus.footer
        // footer
        .container
          .row
            .col-md-offset-2.col-md-3.footer-block.call-block
              p
                i.fa.fa-phone-square
                |  +44 77512 62801
            // /.footer block
            .col-md-3.footer-block.mail-block
              // footer block
              p
                i.fa.fa-envelope
                |  info@pollytrader.io
            .col-md-offset-1.col-md-2
              a.ft-social(href='#')
                i.fa.fa-twitter-square
              a.ft-social(href='#')
                i.fa.fa-facebook-square
              a.ft-social(href='#')
                i.fa.fa-google-plus-square
            // /.footer block
          .tiny-footer
            // tiny footer
            .row
              .col-md-12.copyright  Pollytrader @ 2017 copyrights all reserved
          // /.tiny footer
    // /.footer
    // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='/static/js/bootstrap.min.js')
  script(src='/static/js/jquery.sticky.js')
  script(src='/static/js/sticky-header.js')
  script(src='/static/js/jquery.easing.min.js')
  script(src='/static/js/scrolling-nav.js')

