extends base.pug

block content
  h1 Your Portfolio
  if err
    p=err
  p=JSON.stringify(data)
  table.table
    thead
      tr
        th Currency
        th Balance
    tbody
      each b in balances
        tr
          td=b["currency"]
          td=b["balance"]

