extends ../base.pug

block content
  script(src="https://code.highcharts.com/stock/highstock.src.js")
  script(src="https://code.highcharts.com/stock/modules/exporting.js")

  #portfolioApp
  script(src='/static/js/portfolio-client.js')

  // Set variables and include code for charting
  //- script(src='/static/js/portfolio.js')
