doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='keywords', content='cryptocurrency, crypto, bitcoin, ethereum, portfolio, graph, charts')
    meta(name='description', content='Analyze your cryptocurrency trading history')

    title Polytrader | Cryptocurrency trading analytics
    link(href='/static/css/bootstrap.min.css', rel='stylesheet')
    link(href='/static/css/style.css', rel='stylesheet')
    link(href='/static/css/flaticon.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic,100italic,100', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(href='/static/css/app.css', rel='stylesheet')

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

  body
    .body
      nav.navbar.navbar-expand-lg.fixed-top(style="background-color: #242b33")
        .container
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navigation', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='/static/images/logo.png', alt='')

          // Collect the nav links, forms, and other content for toggling
          #main-navigation.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              if user
                  li.nav-item
                    a.nav-link(href='/portfolio') Porfolio
                  li.nav-item
                    a.nav-link(href='/account') Account
                  li.nav-item
                    a.nav-link(href='/auth/logout') Logout
              else
                  li.nav-item
                    a.nav-link(href='/auth/signup') Sign Up
                  li.nav-item
                    a.nav-link.page-scroll(href='#contactus') Contact Us
                  li.nav-item
                    a.nav-link(href='/auth/login') Login

      block page
        #div(style="padding-top: 120px;")
          #div.container
            block content

      footer
        .container
          .row.justify-content-md-center
            .col-md-3.footer-block Polytrader @ 2017
              a.ft-social(href='#')
                i.fa.fa-twitter-square

          .row.justify-content-md-center
            .col-lg-12.footer-block
              span
                i.fa.fa-envelope
                a(href='mailto:info@polytrader.io') info@polytrader.io
              span
                a(href='/status') Status

  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
  script(src='/static/js/bootstrap.min.js')
  script(src='/static/js/scrolling-nav.js')
